body {
  margin: 0 auto;
  max-width: 640pt;
}

#main-table {
  background: url("../img/stripe-bg.png") repeat;
}

#words-with-friends-nav {
  background-color: #3D82B3;
  border-bottom: 1px solid #3D82B3 !important;
}

#words-with-friends-nav .icon {
  color: white;
}

#wwf-title {
  color: #F4CE46;
}

.content-block-title {
  font-weight: 500;
  font-size: 14pt;
  color: white;
  text-transform: none;
}

.content-block {
  padding-left: 25px;
  padding-right: 25px;
}

.content-block-inner {
  border-radius: 5px;
}

.list-block {
  padding-left: 10px;
  padding-right: 10px;
}

.list-block ul {
  border-radius: 5px;
}

.item-subtitle {
  font-size: 8pt !important;
  color: gray;
}

.item-center {
  margin: 0 auto;
}

div.item-inner{
  padding-right: 5px !important;
  padding-left: 5px !important;
}

div.item-content {
  padding-left: 0px !important;
}

.item-no-accessory {
  background-image: none !important;
  padding-left: 30px;
}

.item-height-2 {
  height: 88px;
}

.item-height-2 .item-inner {
  padding-bottom: 20px;
}

.item-inner .left {
  margin-left: 10px;
  width: 50%;
}

.item-inner .left img {
  float: left;
}

.item-inner .left span {
  float: left;
}

.item-inner .right {
  float: right;
}

.item-inner .right img {
  float: left;
  margin-left: 0px;
}

.item-inner .right {
  padding-left: 20px;
  width: 50%;
}

.item-inner .left img {
  float: left;
  margin-left: -5px;
}

.item-title-small {
  font-size: 10pt;
  font-weight: bold;
  width: 54%;
}

.item-title-small-subtitle {
  color: #007aff;
  font-size: 55%;
}

.item-content .divider {
  width: 1px;
  height: 46px;
  margin-top: -8px;
  margin-left: 5px;
  position: absolute;
  background-color: #c8c7cc;
}

.badge-count {
  position: absolute;
  top: 2px;
  margin-left: -8px;
  border-radius: 7.5px;
  padding-left: 5px;
  padding-top: 2px;
  background-color: #FF0000;
  color: #fff;
  width: 10px;
  height: 13px;
  font-size: 9px;
  font-weight: bold;
  font-style: normal;
}

.icon {
  font-size: 16pt;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #f0b352; /* Old browsers */
  background: -moz-linear-gradient(top,  #f0b352 0%, #f5d346 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b352), color-stop(100%,#f5d346)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f0b352 0%,#f5d346 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f0b352 0%,#f5d346 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f0b352 0%,#f5d346 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f0b352 0%,#f5d346 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b352', endColorstr='#f5d346',GradientType=0 ); /* IE6-9 */
  border-radius: 5px;
  text-align: center;
  color: #4C1B04;
  float: left;
  margin-right: 15px;
  margin-left: 5px;
}

.avatar h1 {
  margin-top: -5px;
  font-size: 47pt;
  font-weight: 500;
}

.avatar sup {
  position: absolute;
  margin-top: -124px;
  margin-left: 22px;
  font-size: 12pt;
}

.avatar.dimmed {
  opacity: 0.7;
}

#facebook {
  border-radius: 4px;
}

#moves li .item-inner {
  min-height: 90px;
}

#moves .left {
  margin-left: 0px;
}

.item-title:not(.item-center) {
  font-size: 12pt !important;
  margin-top: 15px;
  overflow: visible !important;
}

.item-subtitle:not(.gray):not(.item-center) {
  color: #007aff;
}

.item-subtitle {
  overflow: visible !important;
}

/* Panel */
.panel {
  background-color: #3A84DA;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.panel .content-block {
  padding: 0px;
  margin-top: 10px;
}

.panel .list-block {
  padding: 0px;
  margin-top: 10px;
}

.panel .list-block ul {
  background: none;
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
}

.panel .item-title {
  color: white;
  margin-top: 5px;
  font-weight: 100;
}

.panel img {
  margin-right: 10px;
}

.panel .img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  font-weight: bold;
  font-size: 22pt;
  margin-left: 2px;
  color: white;
}

.panel .item-content {
  padding-left: 0px;
}

.panel .item-inner {
  border-bottom: 1px solid black;
}

.views {
  -webkit-box-shadow: -6px 1px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -6px 1px 10px 0px rgba(0,0,0,0.2);
  box-shadow: -6px 1px 10px 0px rgba(0,0,0,0.2);
}

.red {
  color: red !important;
}

.nudge {
  background-color: red;
  text-align: center;
  color: white;
  padding: 5px 10px;
  margin-right: 30px;
  border-radius: 3px;
  font-size: 10pt;
}

.content-block-title {
  margin-top: 20px;
}

.list-block {
  margin-top: 35px;
  margin-bottom: 0px;
}

#leaderboard .item-title {
/*  float: left;*/
  font-weight: bold;
  font-size: 12pt !important;
  margin-top: 0px;
}
